.header > .navbar{
  margin: 0%;
  padding: 0%;
    height: 15vh;
    position: fixed;
    
}

.header{
    height: 15vh;
}

.navbar > .container-fluid{
    height: 100%;
}

.container-fluid > .logo{
   /* height: 20vh;*/
    max-width: 100%;
    height: auto;
    width: 20%;
}

.titreVideo{
    font: small-caps bold 24px/1 sans-serif;

    margin-top: 5vh;
}

.filTwitter{
    position: sticky;
}

.videoYoutube{
    margin-top: 3vh;
}

.description{
    margin-top: 2vh;
}

.interview{
    padding: 5vh;
}

.containerInterview{
    border-color: black;
}