.imageGrille{
    max-width: 100%;
    position: relative;
    z-index: 1;
    transition: all 300ms;
}

.imageGrille:hover{
    transform: scale(1.5);
    z-index: 2;
}

.divImage{
    padding-left: 0%;
    padding-right: 0%;
}

.divVideo{
    position: fixed;
    z-index: 4;
    width: 75%;
    height: 70%;
    left: 12.5%;
    top: 15%;
    bottom: 50%;
    
}

.video{
    width: 100%;
    height: 100%;   
}

.exit{
    background-color: black;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}